<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>三张图片无线轮播图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7ABC6081D0FB06F00E45B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7ABC6211D0FB07000E45B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7ABC62C1D0FB07000E45B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
