<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreText学习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7701F1D1F57DE0B003774C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7701F361F57DE0B003774C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7701F411F57DE0B003774C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
