<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义导航控制器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F801D3961C93AF6300D14345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F801D3AF1C93AF6400D14345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F801D3BA1C93AF6400D14345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
