<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2017/01/01</string>
		<key>num</key>
		<string>20</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/02</string>
		<key>num</key>
		<string>30</string>
		<key>avg</key>
		<string>20</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/03</string>
		<key>num</key>
		<string>40</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/04</string>
		<key>num</key>
		<string>10</string>
		<key>avg</key>
		<string>40</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/05</string>
		<key>num</key>
		<string>50</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/06</string>
		<key>num</key>
		<string>20</string>
		<key>avg</key>
		<string>20</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/07</string>
		<key>num</key>
		<string>60</string>
		<key>avg</key>
		<string>40</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/08</string>
		<key>num</key>
		<string>30</string>
		<key>avg</key>
		<string>10</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/09</string>
		<key>num</key>
		<string>50</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/10</string>
		<key>num</key>
		<string>40</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/11</string>
		<key>num</key>
		<string>50</string>
		<key>avg</key>
		<string>20</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/12</string>
		<key>num</key>
		<string>70</string>
		<key>avg</key>
		<string>75</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/13</string>
		<key>num</key>
		<string>60</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/14</string>
		<key>num</key>
		<string>40</string>
		<key>avg</key>
		<string>20</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/15</string>
		<key>num</key>
		<string>40</string>
		<key>avg</key>
		<string>10</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/16</string>
		<key>num</key>
		<string>60</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/17</string>
		<key>num</key>
		<string>40</string>
		<key>avg</key>
		<string>70</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/07</string>
		<key>num</key>
		<string>60</string>
		<key>avg</key>
		<string>60</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/17</string>
		<key>num</key>
		<string>70</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/18</string>
		<key>num</key>
		<string>30</string>
		<key>avg</key>
		<string>30</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/19</string>
		<key>num</key>
		<string>90</string>
		<key>avg</key>
		<string>55</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/20</string>
		<key>num</key>
		<string>77</string>
		<key>avg</key>
		<string>66</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/21</string>
		<key>num</key>
		<string>64</string>
		<key>avg</key>
		<string>25</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017/01/22</string>
		<key>num</key>
		<string>30</string>
		<key>avg</key>
		<string>45</string>
	</dict>
</array>
</plist>
