<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7053D461CE59E2C00577B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7053D5F1CE59E2C00577B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7053D6A1CE59E2D00577B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
