<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewLinkPageOfSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7659E8D1E9B277B00B4D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7659EA11E9B277B00B4D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7659EAC1E9B277B00B4D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
