<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>smile</string>
		<key>bigImage</key>
		<string>smile_big</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>84</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>coffee</string>
		<key>bigImage</key>
		<string>coffee_big</string>
		<key>colors</key>
		<array>
			<integer>69</integer>
			<integer>59</integer>
			<integer>55</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>drinks</string>
		<key>bigImage</key>
		<string>drinks_big</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>194</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>thumbs_up</string>
		<key>bigImage</key>
		<string>thumbs_up_big</string>
		<key>colors</key>
		<array>
			<integer>32</integer>
			<integer>188</integer>
			<integer>32</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>thumbs_down</string>
		<key>bigImage</key>
		<string>thumbs_down_big</string>
		<key>colors</key>
		<array>
			<integer>207</integer>
			<integer>34</integer>
			<integer>156</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>raining</string>
		<key>bigImage</key>
		<string>raining_big</string>
		<key>colors</key>
		<array>
			<integer>14</integer>
			<integer>88</integer>
			<integer>149</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>clock</string>
		<key>bigImage</key>
		<string>clock_big</string>
		<key>colors</key>
		<array>
			<integer>15</integer>
			<integer>193</integer>
			<integer>231</integer>
		</array>
	</dict>
</array>
</plist>
